<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="myAppNameSpace">
<head>

  <!-- load bootstrap and fontawesome via CDN -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

  <!-- load angular via CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js"></script>

  <!-- your angular code, should normally be in a separate file-->
  <script>
    // create the module and name it myApp
    var myApp = angular.module('myAppNameSpace', []);

    // create the controller and inject Angular's $scope
    myApp.controller('mainController', function($scope, $window) {

    // create a message to display in our view
    $scope.radLinks = [

        // Keep the newer ones at the top!



        {
          "date": "2014/10/15", 
          "title":"NPM - Bcryptjs", 
          "keywords":["Bcrypt", "npm"],
          "description":"Optimized bcrypt in plain JavaScript with zero dependencies. Compatible to 'bcrypt'. And examples of how to use it!", 
          "url":"https://www.npmjs.org/package/bcryptjs"
        },
        {
          "date": "2014/10/15", 
          "title":"Password Authentication with Mongoose - Bcrypt", 
          "keywords":["Mongodb", "Mongoose", "Bcrypt", "Password Authentication"],
          "description":"Great tutorial on how to one-way encrypt passwords in a MongoDB database using node.bcrypt.js.", 
          "url":"http://devsmash.com/blog/password-authentication-with-mongoose-and-bcrypt"
        },
        {
          "date": "2014/10/15", 
          "title":"JSON Editor", 
          "keywords":["json", "Playground"],
          "description":"This is a fabulous tool to mess around with json. The editor will warn you when your json is invalid and you can minify json or show json in a easier viewing style", 
          "url":"http://www.jsoneditoronline.org/"
        },
        {
          "date": "2014/10/14", 
          "title":"Sass Playgound - Sassmeister", 
          "keywords":["Sass", "Playground"],
          "description":"Sassmeister is a great place to mess around with sass and learn in the process", 
          "url":"http://sassmeister.com/"
        },
        {
          "date": "2014/10/14", 
          "title":"Learn some Sass Today!!", 
          "keywords":["Sass", "Tutorial"],
          "description":"Scotch.io has a tone of really awesome tutorials and here is yet another one! Learn some Sass and maybe learn something new if you already know Sass", 
          "url":"http://scotch.io/tutorials/css/getting-started-with-sass"
        },
        {
          "date": "2014/10/14", 
          "title":"Announcing Urban Layers", 
          "keywords":["deom "],
          "description":"An excellent example implementation of custom vector tiles taking advantage of client side map styling, vector.pbf & d3.js. This project also features a great project overview blog", 
          "url":"http://morphocode.com/making-urban-layers/"
        },
        {
          "date": "2014/10/14", 
          "title":"Airpair and learning/teaching resources", 
          "keywords":["Learning, Teaching"],
          "description":"Over 80+ expert panels, workshops and talks by leaders of software", 
          "url":"https://www.airpair.com"
        },
        {
          "date": "2014/10/14", 
          "title":"Taking a look at FireBase", 
          "keywords":["Backend"],
          "description":"A powerful API to store and sync data in realtime. Why consider it: with Firebase to create three-way synchronization between Firebase and your application’s View and Model, proprietary 'scaleable' business model ~ start with free hackers account, pay when you grow. Oh, and almost forgot, to mention 'angularfire'", 
          "url":"https://www.firebase.com/"
        },
        {
          "date": "2014/10/13", 
          "title":"PostGIS, Creating Overlays", 
          "keywords":["PostGIS"],
          "description":"Here is an example of working with PostGIS", 
          "url":"http://boundlessgeo.com/2014/10/postgis-training-creating-overlays/"
        },
        {
          "date": "2014/10/12", 
          "title":"PostGIS, Training", 
          "keywords":["PostGIS"],
          "description":"Want some training in PostGIS?? Here's a cheap workshop", 
          "url":"http://boundless.talentlms.com/catalog/info/id:117"
        }


        // keep the new post at the top please!
    ];


    // open the clicked URL in a new tab
    $scope.openPage = function(i){
        $window.open($scope.radLinks[i].url, '_blank');
    };


    });


  </script>
</head>

<!-- define angular controller -->
<body ng-controller="mainController">

    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div id="main" class="hero-unit">
      <h2>The starting ground of the nerdXchange</h2>
    </div>



    <div class="container">
          <div class="panel panel-default" ng-repeat="link in radLinks">
              <div class="panel-body">
                <h3>{{link.title}}</h3>
                <p>{{link.date}}</p>
                <p>{{link.description}}</p>
               <a ng-href="link.url" target="_blank" ng-click="openPage($index)"> {{link.url}}</a>
              </div>
          </div>
    </div>



    
    <div class="footer" style="text-align: center;">
      <p><span class="glyphicon glyphicon-flash"></span></p>
    </div>

 </body>
 </html>